{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Edit your account{% endblock %}
{% block text-account %}<h1 class="text-center launch">Edit your account</h1>{% endblock %}

{% block main %}
    <p>You can edit your account using the following form:</p>
    <form action="." method="post" enctype="multipart/form-data">
        {% for error in errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
        {{ user_form|crispy }}
        <hr>
        {{ profile_form|crispy}}
        <hr>
        {% csrf_token %}
        <p><input type="submit" value="Save changes" class="btn btn-primary btn-block"></p>
    </form>
{% endblock %}